<h1>Flights</h1>

<%# search form %>
<%= form_tag flights_path, method: :get do %>
  <%= label_tag :departure_airport, "From" %>
  <%= select_tag :departure_airport, options_from_collection_for_select(@airports, :id, :code), include_blank: true %>
  <%= label_tag :arrival_airport, "To" %>
  <%= select_tag :arrival_airport, options_from_collection_for_select(@airports, :id, :code), include_blank: true %>
  <%= label_tag :departure_time, "Departure Time"%>
  <%= date_field_tag :departure_time%>
  <%= label_tag :num_passengers, 'Passengers' %>
  <%= select_tag :num_passengers, options_for_select([1,2,3,4])%>
  <%= submit_tag "Search" %>
<% end %>

<% if user_signed_in? %>

  <%= form_tag new_booking_path, method: :get do %>
    <%= hidden_field_tag :num_passengers, params[:num_passengers] %>
    <%= hidden_field_tag :user_id, current_user.id %>

    <% @flights.each do |flight| %>
      <div>
        <%= radio_button_tag :flight_id, flight.id %>
        <label>
            <%= flight.departure_airport.code %> to <%= flight.arrival_airport.code %>
            <%= flight.departure_time %>
        </label>
      </div>
        
    <% end %>
    <%= submit_tag "Book Flight" %>
  <% end %>

<% else %>

  <% @flights.each do |flight| %>
      <div>
            <%= flight.departure_airport.code %> to <%= flight.arrival_airport.code %>
            <%= flight.departure_time %>
      </div>      
    <% end %>
  <p>Sign in to book a flight</p>
<% end %>

<%= link_to "Reset Search", flights_path %>
<div>
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign-up", new_user_registration_path %>
  <% end %>
</div>