<h1>Booking Reservation</h1>

<%= form_with(model: @booking, local: true) do |f| %>
    <%= f.fields_for :passengers do |passenger_form| %>
        <h3>Passenger <%= passenger_form.options[:child_index]+1 %></h3>
        <div>
            <%= passenger_form.label :name %>
            <%= passenger_form.text_field :name %>
        </div>
        <div>
            <%= passenger_form.label :email %>
            <%= passenger_form.text_field :email %>
        </div>
    <% end %>

    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :flight_id, params[:flight_id] %>

    <% if params[:action] == "new" %>
        <%= f.submit "Book Flight" %>
    <% else %>
        <%= link_to "Return Home", root_path, class: "btn btn-primary" %>
    <% end %>
<% end %>


<% flash.each do |key, value| %>
    <%= content_tag :div, value, class: key %>
<% end %>