<h1>Passenger Information</h1>

<%= form_for @passenger do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "Book Flight" %>
<% end %>